* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1170px;
  padding: 0 16px;
}

.defpadding {
  padding: 10px;
}
.navlinks {
}

/* .postrow {
  display: flex;
  flex-direction: row;
} */
.flexrow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.commentcard {
  /* width: 100%; */
  background-color: rgb(12, 250, 12);
  opacity: 50%;
  border-radius: 10px;
  margin: 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.commentcontent {
  display: flex;
  flex-direction: column;
  font-size: larger;
  padding: 50px;
}
